<!DOCTYPE html>
<html lang="en">
<head>
    <!--Use full meta-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Sirius radio, A la base crée en moins de 24h, elle reste dans le principe du defis technique pour ses createur. le but, toujours utiliser des technologue que les cerateur ne maitrise pas, et toujours avoirs un defis!">
	<meta name="author" content="Sirius">
    <title> {{ title }} </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--Twitter card-->
	<meta name="twitter:card" content="Sirius Radio" />
	<meta name="twitter:site" content="@SiriusFM" />
	<meta name="twitter:title" content="Sirius Radio" />
	<meta name="twitter:description" content="L'EDM partout, tout le temps." />
</head>
<body>
        <!--<div class="banner">
      <center><h1>Suite a un incident technique toutes les fonctionalité du sites ne sont pas disponible.</h1></center>
    </div>-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Sirius Radio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="window.open('https://Radio.SiriusHD.net/radio', 'newwindow', 'width=380, height=675'); return false;" disabled>PopUp!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="window.open('http://localhost:4000/radio', 'newwindow', 'width=380, height=675'); return false;">POPUP DEV!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Affilier
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Cloudsdale Radio</a>
                    <a class="dropdown-item" href="#">EquestriaFM</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Partenaire</a>
                    </div>
                </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link navArt">LOADING.</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link song">LOADING</a>
                    </li>
                </ul>
            </div>
            </nav>
        <div class="logo">
            <a href="/"><img src="https://i.imgur.com/pRRiO88.png" alt="Sirius Radio" class="img-fluid mx-auto d-block" width="40%" /></a>
          </div>
          <div class="txtbg">
    {{{body}}}
        </div>
    <!-- Here comes all the shit in other files :) -->

    <div class="footer">
          <div class="row">
            <nav role="navigation" class="col-md-offset-1 col-md-10">
              Copyright &copy; tous droits sur les Musiques/Créations vont à leurs artistes respectifs.<br>
              Copyright <a href="http://www.copyrighted.com/copyrights/view/gahl-yxox-vlsm-deb9">&copy; Cloudsdale Radio</a> 2016 - 2018<br>
              Copyright &copy; Site developpé par Cloudsdale Group • Version 2.0 <br> Sirius radio est une filiale Cloudsdale Group<br>
              <a href="/sitemap">Site Map</a> • <a href="#/partenaire">Partenaire</a> • <a href="#/remerciement">Remerciements</a> • <a href="/update">Updates</a> • <a href="#/server">Serveurs</a> • <a href="#/crew">Staff</a> • <a href="http://status.cloudsdalegroup.com">Status des services</a> • <a href="#/humans.txt"><img src="http://humanstxt.org/img/oficial-logos/humanstxt-transparent-1ink.png"> </a>
            </nav>
            <div class="copyright col-md-offset-3 col-md-2">
              Powered by <a href="http://CloudsdaleGroup.com">CloudsdaleGroup</a><br>
              <a href="http://norme.nitrogroup.fr/rer-d/"><img src="https://img.shields.io/badge/Norme-RER--D-green.svg"></a>
              <img src="https://circleci.com/gh/Siriusa77II/SrRadio.svg?style=svg">
            </div>
          </div>
        </div>
    <!-- Here comes all the script -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/bar-ui.css">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./javascripts/shoutcast.js"></script>
    <script type="text/javascript" src="./javascripts/sm2/soundmanager2.js"></script>
    <script type="text/javascript" src="./javascripts/sm2/bar-ui.js"></script>

</body>
</html>