 <h1>Contact</h1>
    <div class="container">
          <div class="row">
            <div class="col-sm-12">
              Voici la liste des moyens de nous contacter !
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-8">
              <h3>Mail</h3>
              <a href="MAILTO:radio@SiriusHD.net">Radio@SiriusHD.net</a>

              <h3>Discord</h3>
              <p>Vous pouvez toujours rejoindre mon serveur Discord en cliquant ICI :)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-8"></div>
        </div>
    </div>