<div class="sm2-bar-ui flat">

 <div class="bd sm2-main-controls" style="background-color: rgb(77, 77, 77);">

  <div class="sm2-inline-texture"></div>
  <div class="sm2-inline-gradient"></div>

  <div class="sm2-inline-element sm2-button-element">
   <div class="sm2-button-bd">
    <a href="#play" class="sm2-inline-button sm2-icon-play-pause">Play / pause</a>
   </div>
  </div>

  <div class="sm2-inline-element sm2-inline-status">

   <div class="sm2-playlist">
    <div class="sm2-playlist-target"><ul class="sm2-playlist-bd"><li><marquee><b>Figub Brazlevič</b> - Bosnian Syndicate <span title="Published under a Creative Commons BY-NC-ND license" class="label">(BY-CC-ND license)</span></marquee></li></ul></div>
   </div>

   <div class="sm2-progress">
    <div class="sm2-row">
    <div class="sm2-inline-time">0:00</div>
     <div class="sm2-progress-bd">
      <div class="sm2-progress-track">
       <div class="sm2-progress-bar"></div>
       <div class="sm2-progress-ball"><div class="icon-overlay"></div></div>
      </div>
     </div>
     <div class="sm2-inline-duration">0:00</div>
    </div>
   </div>

  </div>

  <div class="sm2-inline-element sm2-button-element sm2-volume">
   <div class="sm2-button-bd">
    <span class="sm2-inline-button sm2-volume-control volume-shade"></span>
    <a href="#volume" class="sm2-inline-button sm2-volume-control">volume</a>
   </div>
  </div>

  <div class="sm2-inline-element sm2-button-element sm2-menu">
   <div class="sm2-button-bd">
    <a href="#menu" class="sm2-inline-button sm2-icon-menu">menu</a>
   </div>
  </div>

 </div>

 <div class="bd sm2-playlist-drawer sm2-element" style="background-color: rgb(77, 77, 77); height: 0px;">

  <div class="sm2-inline-texture">
   <div class="sm2-box-shadow"></div>
  </div>

  <!-- playlist content is mirrored here -->

  <div class="sm2-playlist-wrapper">

    <ul class="sm2-playlist-bd">
<li><a href="https://broadcaster2.cloudsdaleradio.com/radio/8000/radio.mp3?1533914010"><b>Sirius Radio</b> MBCFR<span class="label">128Kbps Normal Quality</span></a></li>
     <!-- example: playable link, "buy" link, "download" link -->
     <li class="selected">
      <div class="sm2-row">
          
      </div>
     </li>

     <!-- standard one-line items, no extra links -->
     <li><a href="https://broadcaster2.cloudsdaleradio.com/radio/8000/radio64.mp3?1533914010"><b>Sirius Radio</b> MBCFR<span class="label">64Kbps Low Quality</span></a></li>
     <li><a href="https://broadcaster2.cloudsdaleradio.com/radio/8000/radio320.mp3?1533914010"><b>Sirius Radio</b> MBCFR<span class="label">320Kbps Hight Quality</span></a></li>

     <li><a href="http://frrelay.cloudsdaleradio.com/SiriusRadio64.mp3"><b>Sirius Radio</b>Relay France<span class="label">64Kbps Low Quality</span></a></li>
     <li><a href="http://frrelay.cloudsdaleradio.com/SiriusRadio128.mp3"><b>Sirius Radio</b>Relay France<span class="label">128Kbps Normal Quality</span></a></li>
     <li><a href="http://frrelay.cloudsdaleradio.com/SiriusRadio320.mp3"><b>Sirius Radio</b>Relay France<span class="label">320Kbps Hight Quality</span></a></li>

     <li><a href="http://AMSrelay.cloudsdaleradio.com/SiriusRadio64.mp3"><b>Sirius Radio</b>Relay NL<span class="label">64Kbps Low Quality</span></a></li>
     <li><a href="http://AMSrelay.cloudsdaleradio.com/SiriusRadio128.mp3"><b>Sirius Radio</b>Relay NL<span class="label">128Kbps Normal Quality</span></a></li>
     <li><a href="http://AMSrelay.cloudsdaleradio.com/SiriusRadio320.mp3"><b>Sirius Radio</b>Relay NL<span class="label">320Kbps Hight Quality</span></a></li>
     
    </ul>

  </div>

  <div class="sm2-extra-controls">

   <div class="bd">

    <div class="sm2-inline-element sm2-button-element">
     <a href="#prev" title="Previous" class="sm2-inline-button sm2-icon-previous">&lt; previous</a>
    </div>

    <div class="sm2-inline-element sm2-button-element">
     <a href="#next" title="Next" class="sm2-inline-button sm2-icon-next">&gt; next</a>
    </div>
   </div>

  </div>

 </div>

</div>
<center>
<h4>Now Playing: <div class="song"></div></h4>
<br>
<h6>Next playing: <div class="next"></div></h6>
<div class="listen"></div>
</center>
