<div class="container">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-3">
            <h1>Site Map</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-3">
            <a href="/"><li>Home</li></a>
            <a href="/sitemap"><li>Site Map</li></a>
            <a href="/parthner"><li>Partenaire</li></a>
            <a href="/thanks"><li>Remerciement</li></a>
            <a href="/update"><li>Updates</li></a>
            <a href="/server"><li>Serveures</li></a>
            <a href="/staff"><li>Staff</li></a>
            <a href="http://Status.cloudsdalegroup.com"><li>Status des Services</li></a>
            <a href="/faq"><li>FAQ</li></a>
            <a href="/privacy"><li>Vie Privé</li></a>
            <a href="/contact"><li>contact</li></a>
            <br>
            <a href="/radio"><li>PopUp</li></a>
        </div>
    </div>
</div>