<h3>Version 1.0&nbsp;</h3>
<ul>
          <li>Creation du 1er Site</li>
          <li>Ajout Player HTML</li>
          <li>Ajout Broadcaster</li>
        </ul>
<h3>Version 2.0&nbsp; <strong>Actuel</strong></h3>
    <ul>
          <li>Recreation du site</li>
          <li>Ajout Player Azuracast</li>
          <li>Ajout Azuracast</li>
          <li>Ajout PopUp</li>
          <li>Ajout Contact</li>
          <li>Ajout Site Map</li>
          <li>Ajout Server</li>
          <li>Ajout Staff</li>
          <li>Ajout API Azuracast pour "Now Playing"</li>
          <li>Ajout Rellay France</li>
          <li>Ajout Relay AMS</li>
          <li>Ajout Fichier mu3</li>
          <li>Ajout Song request</li>
          <li>Ajout <a href="https://github.com/Siriusa77II/SrRadio">GitHub</a></li>
          <li>Ajout Page "How it's works?"</li>
          <li>Mise à Jour Boostrap</li>
    </ul>
